


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	/*background-color: black;*/
	font-family: 'Roboto', sans-serif;
}

#NAV {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px; 
}

#NAV a {
	margin-right: 20px;
}

#NAV .TopImage {
	height: 20px;
	width: 20px;
	background-color: orange;
	border-radius: 50%;
}

#MidSection { 
margin-top: 300px;
 }

 #logo { 
 	text-align: center;
  }

#SearchBarSection {
	text-align: center;
	margin-top: 20px;
}

#SearchBar { 
	padding-top: 20px;
	padding-bottom: 20px;
	outline: 0px;
	width: 700px;
	border-radius: 15px;
	border: 2px solid #D3D3D3; 
 }

#Buttons { 
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding-right: 25px; 
 }

 .SingleButton {
 	margin-right: 10px; 
 	margin-left: 10px;
 	padding: 10px 5px;
 	cursor: pointer;
 	background: #F8F9FA;
 	border-radius: 10px;
 	padding: 10px;  
 }

 #footer {
 	/* Get the idea from CSS Tricks from the first comment 
 	Link: https://css-tricks.com/couple-takes-sticky-footer/
 	*/
 	position: absolute;	 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
 }

 #Footer-Stuff {
 	text-align: center;
 	margin-bottom: 20px;
 }

 #ThumbsUpGuy {
height: 30px;
width: 30px;
margin-bottom: -5px;
 }

